<!DOCTYPE html>
<html data-ng-app="example">
    <head>
        <title>Angular Toolbelt | Growl, Scroll, Password Strength</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="Sysen Ltd" />
        <meta name="description" content="A collection of directives and services to help enhance AngularJS projects. Includes support for growls, page scrolling and password strength indicators.">
        <meta name="keywords" content="AngularJS, directives, services, angular-growl, angular-scroll, angular-strength">
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <link rel="icon" type="image/ico" href="/img/favicon.png" />

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" />

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style type="text/css">
            html, body { margin: 0px; padding: 0px; }
            body { padding-top: 70px; }
            pre { background-color: inherit; margin: 0; border: 0; overflow-y: scroll; word-wrap: normal }
            .content { background-color: #eee; padding: 10px; margin-bottom: 15px; }
            .mini-header { font-size: 120%; text-transform: uppercase; color: #999; }
            footer { margin-top: 20px; padding: 30px 0; border-top: 1px solid #eee; background-color: #fafafa; }
        </style>
    </head>
    <body data-ng-controller="documentationCtrl">
        <header class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" data-ng-click="isCollapsed = !isCollapsed">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <p class="navbar-text">Angular Toolbelt</p>
                        </div>

                        <nav class="navbar-collapse collapse" collapse="!isCollapsed" data-sys-active-navbar>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a role="button" class="dropdown-toggle">Services</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#platform" role="button" data-route="/platform" data-offset="70" data-target="platform" data-sys-scroll="smooth">Platform Detection</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a role="button" class="dropdown-toggle">Directives</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#active-navbar" role="button" data-route="/active-navbar" data-offset="70" data-target="active-navbar" data-sys-scroll="smooth">Active Navbar</a></li>
                                        <li><a href="#growl" role="button" data-route="/growl" data-offset="70" data-target="growl" data-sys-scroll="smooth">Growl</a></li>
                                        <li><a href="#infinite-scroll" role="button" data-route="/infinite-scroll" data-offset="70" data-target="infinite-scroll" data-sys-scroll="smooth">Infinite Scroll</a></li>
                                        <li><a href="#markdown" role="button" data-route="/markdown" data-offset="70" data-target="markdown" data-sys-scroll="smooth">Markdown</a></li>
                                        <li><a href="#scroll" role="button" data-route="/scroll" data-offset="70" data-target="scroll" data-sys-scroll="smooth">Scroll</a></li>
                                        <li><a href="#strength" role="button" data-route="/strength" data-offset="70" data-target="strength" data-sys-scroll="smooth">Input Strength</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <div class="container">
            <section data-ng-include="'/public/docs/intro.html'"></section>
            <div class="page-header">
                <h1>Services</h1>
            </div>
            <section id="platform" data-ng-include="'/public/docs/services/platform.html'"></section>
            <div class="page-header">
                <h1>Directives</h1>
            </div>
            <section id="active-navbar" data-ng-include="'/public/docs/directives/active-navbar.html'"></section>
            <section id="growl" data-ng-include="'/public/docs/directives/growl.html'"></section>
            <section id="infinite-scroll" data-ng-include="'/public/docs/directives/infinite-scroll.html'"></section>
            <section id="markdown" data-ng-include="'/public/docs/directives/markdown.html'"></section>
            <section id="scroll" data-ng-include="'/public/docs/directives/scroll.html'"></section>
            <section id="strength" data-ng-include="'/public/docs/directives/strength.html'"></section>
        </div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <p>Copyright &copy; Since 2014 <a href="http://www.sysen.co.uk">Sysen Ltd</a>. All rights reserved</p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Angular Javascript -->
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-touch.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-sanitize.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>

        <!-- Third Party -->
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>

        <!-- Application -->
        <script type="text/javascript" src="/public/angular-toolbelt.js"></script>
        <script type="text/javascript" src="/public/docs/app.js"></script>
    </body>
</html>
